.gamepane {
    -fx-background-color: black;
}

.intro {
    -fx-background-color: black;
}

.menu-background {
    -fx-background-image: url("../images/TetrecsTitleBG.png");
    -fx-background-size: cover;
}

.challenge-background {
    -fx-background-image: url("../images/game-screen.png");
    -fx-background-size: cover;
}

.game-background-effect {
    -fx-background-image: url("../images/filter.png");
    -fx-background-size: cover;
}

.game-background-effect2 {
    -fx-background-image: url("../images/filter2.png");
    -fx-background-size: cover;
}

.empty-screen {
    -fx-background-image: url("../images/emptyscreen.png");
    -fx-background-size: cover;
}

.menu {
    -fx-padding: 10;
}

.menuItem {
    -fx-text-fill: white;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-border-color: transparent;
    -fx-stroke: black;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.menuItem:hover {
    -fx-text-fill: yellow;
}

.menuItem.selected {
    -fx-text-fill: yellow;
}

.counter {
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 80px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.bigtitle {
    -fx-fill: yellow;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 64px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.title {
    -fx-fill: white;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 40px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.heading {
    -fx-fill: white;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 30px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.rightmenu {
    -fx-fill: white;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.score {
    -fx-fill: yellow;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 28px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.multiplier {
    -fx-fill: #54F05B;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 28px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.level {
    -fx-fill: #ff6600;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 28px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.hiscore {
    -fx-fill: orange;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 28px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.lives {
    -fx-fill: yellow;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 28px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.scorelist {
    -fx-font-size: 20px;
    -fx-font-family: 'ChunkyDunk';
}

.scoreitem {

}

.scorer {

}

.myscore {
    -fx-font-weight: 700;
}

.deadscore {
    -fx-strikethrough: true;
}

.points {
}

.channelList {

}

.channelItem {
    -fx-fill: white;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
}
.channelItem.selected {
    -fx-fill: yellow;
}

.error {
        -fx-fill: red;
        -fx-font-family: 'ChunkyDunkOutlin';
        -fx-font-size: 20px;
        -fx-font-weight: 700;
}

.leaderboard {
    -fx-font-size: 16px;
}

.gameBox {
    -fx-padding: 10;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: white;
    -fx-border-width: 1;
}

.scroller {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.scroller .viewport {
    -fx-background-color: transparent;
}

.messages {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-font-family: 'ChunkyDunk';
}

.messages Text {
    -fx-fill: white;
}

TextField {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-text-fill: white;
    -fx-prompt-text-fill: grey;
}

.playerBox {
    -fx-font-size: 14px;
    -fx-font-family: 'ChunkyDunk';
}

.playerBox Text {
    -fx-fill: white;
}

.myname {
    -fx-fill: yellow;
}

.instructions {
    -fx-font-size: 10px;
    -fx-font-family: 'ChunkyDunk';
    -fx-fill: white;
}

.credits {
    -fx-fill: white;
    -fx-font-family: 'ChunkyDunk';
    -fx-font-size: 30px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.sound-slider {
  -fx-pref-width: 200px;
  -fx-min-height: 30px;
  -fx-max-height: 30px;
  -fx-background-color: #343434;
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 5;
  -fx-border-color: #343434;
  -fx-border-width: 3px;
  -fx-border-radius: 5;
}

.sound-slider .thumb {
  -fx-background-color: #ffcc00;
  -fx-background-insets: 0, 0.2;
  -fx-background-radius: 0%;
  -fx-border-color: #000000;
  -fx-border-width: 2px;
  -fx-border-radius: 0%;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 0, 1);
}

.sound-slider .track {
  -fx-background-color: #343434;
}

.sound-slider .track-background {
  -fx-background-color: #ffcc00;
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 5;
  -fx-border-color: #000000;
  -fx-border-width: 2px;
  -fx-border-radius: 5;
}
